<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editor</title>
    <link rel="stylesheet" href="/css/editorStyle.css" />
  </head>
  <body>
    <div id="editor"></div>
    <script src="/tinymce/tinymce.min.js"></script>
    <script src="/libs/domjson/dist/domJSON.min.js"></script>
    <!-- <script src="
  https://cdn.jsdelivr.net/npm/tiptap@1.32.2/dist/tiptap.min.js
  "></script>
    <script src="/libs/@tiptap/starter-kit/dist/index.js"></script> -->
    <script src="/dist/bundle.js"></script>
  </body>
</html>
